<% layout("/layouts/boilerplate") %>
<br>
<br>
<h3 style="text-align: center;">"Welcome to WanderLust Hotel Booking!"</h3>

<br>

<div style="text-align: center;">
<a href="/login"><button class="btn btn-success" style="background-color: antiquewhite; color: black;">Login</button></a>
<br>
<br>
<hr>

<div>
    <p>Don't have account then click on Signup to Create account</p>
<a href="/signup"><button class="btn btn-success" style="background-color: rgb(206, 137, 137); color: black;">Signup</button></a>
</div>

</div>
